hr {
    margin-left: 0;
    margin-top: 2.5em;
    margin-bottom: 2.5em;
    width: 97.5%;
    color: #d1d1d1;
}
button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-weight: bold;
}
button > img {
    width: 1.2em;
    height: 1.2em;
    margin-bottom: -3%;
}
.search-result {
    background-color: white;
}
.return-list {
    padding-left: 0;
    padding-top: 2em;
    list-style: none;
}
.return-container {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 5;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
    align-items: flex-end;
}
.movie-poster {
    width: 9em;
    height: 12em;
    border-radius: 5%;
}
.desc-box {
    padding-left: 0.75em;
    display: flex;
    flex-direction: column;
    max-width: 40em;
    height: 12em;
}
.detail-btn {
    margin-left: 29%;
    margin-bottom: 0;
    max-height: 2em;
    align-items: center;
}
.detail-btn > a {
    text-decoration: none;
    color: #4bb8e2;
}
.return-title {
    font-size: 1.4em;
    margin-bottom: 0.5%;
}
.movie-rating {
    padding-top: 0;
    max-width: 10em;
    max-height: 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.movie-desc {
    font-weight: normal;
}
.score-rating {
    color: #6b6b6b;
}
.star {
    width: 1.5em;
    height: 1.5em;
    margin-right: 0.25em;
}
#return-text {
    font-size: 20px;
}
#return-count {
    color: #6b6b6b;
}